@{
    ViewData["Title"] = "About";
}
<h1>Desafio de programação mais marcante</h1>

<div>
    <p>Diria que o desafio mais complexo que já cruzou meu caminho foi no projeto do HackaDev, durante o curso de desenvolvimento Full Stack na Ímã Tech. O projeto foi feito em grupo com cerca de 10 pessoas e utilizou C# .NET para o backend e React para o frontend.</p>
    <p>Minha atuação no projeto foi ao lado do monitor, auxiliando nas dúvidas que surgiram entre os integrantes da equipe e ajudando na tomada de decisões. Além disso, fiquei responsável principalmente por projetar a estrutura básica do backend para que os outros integrantes pudessem trabalhar em cima de um mesmo padrão. Como ainda não estava muito acostumado com o desenvolvimento nessas tecnologias, pelo menos não em um projeto tão completo, a maior dificuldade que tive foi na organização das pastas e na abstração, para projetar com o mínimo de acoplamento possível.</p>
    <p>Nesse ponto, o que ficou marcado em mim foi ver o quão importante uma equipe é em um projeto, pois tendo a opinião de outros, bem como o auxílio, consegui deixar essa parte da melhor maneira possível para nossos conhecimentos e, no final, deu tudo certo no projeto.</p>
</div>
