@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-3">Informações do Candidato</h1>
    <p><strong>Nome:</strong> Felipe Augusto Lopes de Carvalho Magalhães</p>
    <p><strong>Cargo pretendido:</strong> Desenvolvedor Júnior</p>
    <p><strong>Pretensão salarial:</strong> 2500,00</p>
    <p><strong>Data do teste:</strong> 06/05/2023 - 12/05/2023</p>
</div>
